body {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 10px 0px 10px;
  text-align: center;
}

#source {
  font-size: 1em;
  color: #777777;
  text-align: center;
}

#source a {
  text-decoration: none;
}